.pricing-section {

}

.pricing-title {
  @extend .pas;
  @extend .bigger;
  text-align: center;
  text-transform: uppercase;
}

.pricing-actual {
  @extend .pat;
  @extend .italic;
  @extend .big;
  color: grey;
  text-align: center;
}

.pricing-why {
  font-weight: bold;
  font-size: $medium-value;
  @extend .pas; 
  text-align: center;
}

.pricing-feature {
  text-align: center;
  @extend .pat; 
  @extend .big;
}

.pricing-feature-plan {
  @extend .mam; 
  button {
    height: 60px;

  }
  border-bottom: none;
}
