.pricing-section {

}

.pricing-title {
  @extend .pam;
  // @include respond-to("small") {
  //   @include .pam;
  // }
  @extend .bigger;
  border-bottom: 1px solid lightgray;
  text-align: center;
  text-transform: uppercase;
}

.pricing-actual {
  @extend .pas;
  @extend .italic;
  @extend .big;
  color: grey;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.pricing-why {
  font-weight: bold;
  font-size: $medium-value;
  border-bottom: 1px dashed lightgray;
  @extend .pam; 
  text-align: center;
}

.pricing-feature {
  text-align: center;
  @extend .pas; 
  @extend .big;
  border-bottom: 1px dashed lightgray;
}
