/**
*
*
* TWITTER SECTION
*
*/
blockquote.twitter-tweet {
  padding: 16px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 8px 24px rgba(0,0,0,.1);
  color: $color1;
}


blockquote.twitter-tweet a[href^="https://twitter.com"] {
  color: $color1;
}

.twitter-tweet {
  color: $color1;
  width: auto;
  @extend .pal;
  padding-bottom: 0;
}

.j-poster {
  display: flex;
  flex-direction: column;
}

.j-poster-header {
  display: flex;
  flex-direction: row;
}

.j-poster-img {
  width: 30px;
  height: 30px;
}

.j-poster-icon {
  margin-left: auto;
}

.j-poster-tweet {
  // @extend .big;
}


.j-poster-name {
  margin-left: 5px;
  height: 30px;
  font-weight: bold;
}

.j-poster-bird {
  margin-left: auto;
}

.j-poster-footer {
  margin-top: 10px;
}
