<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="page-content-container">
        {{ content }}
      </div>
    </div>

    <!--startjs-->
    {% include js-custom-var.html %}
    {% include js-webfont.html %}
    {% include js-jquery.html %}
    {% include js-jquery-sticky.html %}
    {% include js-jquery-scroll-to.html %}
    {% include js-crisp-im.html %}
    {% include js-ga.html %}
    {% include js-fontfaceobserver.html %}
    {% include js-custom.html %}
    <!--endjs-->
  </body>

</html>
